
html {
	height: 100%;
}

body {
	font-family: helvetica;
	background-image: url("background.png");
	background-attachment: fixed;
	height: 100%;
}

.header {
	background-color: #F7F7F9;
	border-bottom: 1px solid #E1E1E8;
}

.header-content {
	float: right;
	padding-top: 25px;
}

.header-heading {
	float: left;
}

.left-column {
	background-color: #F7F7F9;
	border-right: 1px solid #E1E1E8;
}

.right-column {
	background-color: #F7F7F9;
	border-left: 1px solid #E1E1E8;
}

.no-padding {
	padding: 0;
}

.container {
	background: rgba(255, 255, 255, 1);
	height: 100%;
}

.row {
	height: 100%;
}

.submit-div {
	text-align: center;
}

.timer {
	font-size: 1em;
	text-align: center;
}

.champ-select {
	text-align: center;
	margin-bottom: 10px;
}

.question-text,
.input-text,
.lobby-text,
.home-text {
	padding: 10px;
	text-align: center;
	font-size: 2em;
}

.lobby-link {
	text-align: center;
	display: inline;
	width: 33%;
}

.lobby-button,
.home-button,
.switch-summoner-button {
	text-align: center;
}

.question-images {
	text-align: center;
	margin-bottom: 10px;
}

.summoner {
	padding: 10px;
}

.question-list-item {
	padding: 10px;
}

#summoner-list {
	list-style-type: none;
}
