
body {
	font-family: helvetica;
	background-image: url("background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}

.loader {
	text-align: center;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#overlay {
	margin-top: 10px;
}

#content,
#notifications {
	background: rgba(255, 255, 255, 0.9);
}

#header {
	background-color: rgba(247, 247, 247, 1);
	border-bottom: 1px solid #E1E1E8;
	padding: 0px;
}

.header-content {
	float: right;
	padding-top: 25px;
}

.header-heading {
	float: left;
}

#summoner-list {
	padding: 0px;
}

.submit-div,
.game-mode-div {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#timer-container {
	text-align: center;
}

#timer-text {
	font-size: 2em;
}

.champ-select {
	text-align: center;
	margin-bottom: 10px;
}

.question-text,
.input-text,
.lobby-text,
.home-text {
	padding: 10px;
	text-align: center;
	font-size: 2em;
}

.lobby-link {
	text-align: center;
	display: inline;
	width: 33%;
}

.lobby-button,
.home-button,
.switch-summoner-button,
.dissmiss-alert-button {
	text-align: center;
}

.center {
	text-align: center;
}

.question-images {
	text-align: center;
	margin-bottom: 10px;
}

.summoner {
	padding: 10px;
}

.question-list-item {
	padding: 10px;
}

#summoner-list {
	list-style-type: none;
}
