<!DOCTYPE html>
<html>	
<head>
	<title>Guess my main!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
	<script type="application/javascript" src="templates.js"></script>
	<script type="application/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<body>
	<div id="overlay" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 header"><h1>Guess my main!</h1></div>
			<div class="col-xs-3 col-sm-3 col-md-3 left-column">
				<ul id="question-list">
					<li class="question-list-item">What's his main?</li>
					<li class="question-list-item">What's his least played?</li>
					<li class="question-list-item">What's his main winrate?</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<p class="question-text">This player has mastered</p>
				<div class="question-images">
					{{#each masteries}}
						<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{championKey}}.png" width="80" height="80">
					{{/each}}
				</div>
				<p class="question-text">What's his main?</p>
				<div class="champ-select">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">
							<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Azir.png" width="80" height="80">
						</button>
						<button type="button" class="btn btn-default">
							<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Sion.png" width="80" height="80">
						</button>
						<button type="button" class="btn btn-default">
							<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Singed.png" width="80" height="80">
						</button>
					</div>
				</div>
				<p class="timer">Timer: 15s</p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 right-column">
				<ul id="summoner-list">
					<li class="summoner">
						<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/589.png" width="32" height ="32">
						 korona
					</li>
					<li class="summoner">
						<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/588.png" width="32" height ="32">
						 PositronTheory
					</li>
				</ul>
			</div>
		</div>
	</div>
<script>
	function pollAgain() {
		$.get({
			url: 'api/poll/{{lobbyId}}',
			success: (data) => {
				console.log(data);

				pollAgain();
			},
			error: (xhr, status, error) => {
				console.error("Could not retrieve api/poll/:lobby endpoint");
				console.error("Status:", status);
				console.error(error);
			}
		});
	}

	pollAgain();
</script>
</body>
</html>

