<!DOCTYPE html>
<html data-site="{{site}}"{{#if lobbyId}} data-lobby-id="{{lobbyId}}"{{/if}}>
<head>
	<title>Guess my main!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/style.css">
	<script type="application/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="application/javascript" src="frontend/templates.js"></script>
</head>
<body>
	<div id="overlay" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 header">
				<h1 class="header-heading">Guess my main!</h1>
				<div class="header-content"></div>
			</div>
			<div id="content" class="col-xs-12 col-sm-12 col-md-12 no-padding">
				<div class="center">
					<i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>

	<script type="application/javascript" src="static/client.js"></script>

</body>
</html>

