
<div class="col-xs-3 col-sm-3 col-md-3 left-column">
	<ul id="question-list">
		<li class="question-list-item">What's his main?</li>
		<li class="question-list-item">What's his least played?</li>
		<li class="question-list-item">What's his main winrate?</li>
	</ul>
</div>
<div class="col-xs-9 col-sm-9 col-md-9">
	<p class="question-text">This player has mastered</p>
	<div class="question-images">
		{{#each masteries}}
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{championKey}}.png" width="80" height="80">
		{{/each}}
	</div>
	<p class="question-text">What's his main?</p>
	<div class="champ-select">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Azir.png" width="80" height="80">
			</button>
			<button type="button" class="btn btn-default">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Sion.png" width="80" height="80">
			</button>
			<button type="button" class="btn btn-default">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Singed.png" width="80" height="80">
			</button>
		</div>
	</div>
	<p class="timer">Timer: 15s</p>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 right-column">
	<ul id="summoner-list">
		<li class="summoner">
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/589.png" width="32" height ="32">
			 korona
		</li>
		<li class="summoner">
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/588.png" width="32" height ="32">
			 PositronTheory
		</li>
	</ul>
</div>
