
<div class="alert alert-danger alert-dismissible" role="alert">
	<button class="close dismiss-alert" data-dismiss="alert">
	 <span aria-hidden="true">&times;</span>
	</button>
	<h3>Error!</h3>
	{{error.message}}
	<br />
	{{error.details}}
	<br />
	<div class="center">
		<button class="btn btn-default dissmiss-alert-button" data-dismiss="alert">Ok</button>
	</div>
</div>

