
<div class="alert alert-danger alert-dismissible" role="alert">
	<button class="close dismiss-alert" data-dismiss="alert">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Error!</strong>
	{{error.message}}
	<br>
	Details: {{error.details}}
</div>

