
<div class="alert alert-danger alert-dismissible" role="alert">
	<button class="close dismiss-alert" data-dismiss="alert">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Error!</strong>
	<br>
	{{#if error.message}}
		{{error.message}}
		<br>
		Details: {{error.details}}
	{{/if}}
	{{#if error.url}}
		Something went wrong while communicating with the server.
		<br>
		Url: {{error.url}}
		<br>
		HTTP status: {{error.httpStatus}}
	{{/if}}
</div>

