
<p class="text">
	Share this link with your friends to play together:
</p>
<div class="input-group">
	<input type="text" id="input-share-link" class="form-control lobby-link" value="{{shareUrl}}" readonly/>
	<span class="input-group-btn">
		<button id="clipboard-button" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
			<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
		</button>
	</span>
</div>
<p class="text">
	<button type="button" id="ready-button" class="btn btn-default lobby-button">I'm ready!</button>
</p>
