{{#if delta}}
<div class="delta-score">
	<ul id="delta-score-list">
		{{#each delta}}
		<li><img src={{profileIcon}} width="25" height="25"> {{displayName}}:    + <img src="/static/gold.png"> {{score}}</li>
		{{/each}}
	</ul>
</div>
{{/if}}
