{{#if delta}}
<div class="score-delta">
	<ul id="delta-score-list">
		{{#each delta}}
			<li class="delta-score-li">
				<span><img src={{profileIcon}} width="25" height="25"> {{displayName}}:    + <img src="{{staticUrl}}/icons/gold-coin.png"> {{score}}</span>
			</li>
		{{/each}}
	</ul>
</div>
{{/if}}
