
<img src={{myself.profileIcon}} width="32" height="32">
<b class="name">{{myself.displayName}}</b>
<button id="button-switch-summoner" class="btn btn-default switch-summoner-button">Switch summoner</button>
<br>