
<img src={{myself.profileIcon}} width="32" height="32">
<span><b>{{myself.displayName}}</b></span>
<button id="button-switch-summoner" class="btn btn-default switch-summoner-button">Switch summoner</button>
