
{{#if size}}
<span class="center">
	<i class="fa fa-spinner fa-pulse {{size}} fa-fw margin-bottom"></i>
	<span class="sr-only">Loading...</span>
</span>
{{else}}
<div class="col-xs-12">
	<div class="loader">
		<i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
		<span class="sr-only">Loading...</span>
	</div>
</div>
{{/if}}
