
<div class="col-xs-9 col-sm-9 col-nd-9">
	<p class="lobby-text">Hello</p>
	<p class="lobby-text"><img src={{myself.profileIcon}} width="32" height ="32"> {{myself.displayName}}</p>
	<p class="lobby-text">Share this link with your friends to play together:</p>
	<p class="lobby-text">
		<input type="text" class="form-control lobby-link" value="link" />
		<button id="clipboard-button" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
		</button>
	</p>
	<p class="lobby-text">
		<button type="button" class="btn btn-default lobby-button">I'm ready!</button>
	</p>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 right-column">
	<ul id="summoner-list">
		<li class="summoner">
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/589.png" width="32" height ="32">
			 korona
		</li>
		<li class="summoner">
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/588.png" width="32" height ="32">
			 PositronTheory
		</li>
	</ul>
</div>