
<div class="col-xs-12 col-sm-9">
	<p class="lobby-text">
		Share this link with your friends to play together:
	</p>
	<div class="input-group">
		<input type="text" id="input-share-link" class="form-control lobby-link" value="{{shareUrl}}" />
		<span class="input-group-btn">
			<button id="clipboard-button" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
			</button>
		</span>
	</div>
	<p class="lobby-text">
		<button type="button" class="btn btn-default lobby-button">I'm ready!</button>
	</p>
</div>
<div class="col-xs-12 col-sm-3">
	<ul id="summoner-list" class="no-padding">
		<li class="summoner">
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/589.png" width="32" height ="32">
			 korona
		</li>
		<li class="summoner">
			<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/588.png" width="32" height ="32">
			 PositronTheory
		</li>
	</ul>
</div>