
<p class="question-text">This player has mastered</p>
<div class="question-images">
	{{#each mastered}}
		<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{key}}.png" width="80" height="80">
	{{/each}}
</div>
<p class="question-text">What's his main?</p>
<div class="champ-select">
	<div class="btn-group" role="group">
		{{#each choices}}
			<button type="button" class="btn btn-default lock-answer" data-champion="{{id}}">
				<img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{key}}.png" width="80" height="80">
			</button>
		{{/each}}
	</div>
</div>
<p class="timer">Timer: 15s</p>
</div>

