
<div class="col-xs-12 col-sm-12 col-md-12 submit-div">
	<p class="input-text">Enter your summoner name and region to play.</p>
	<form id="submit" class="form-inline">
		<input type="text" id="input-summoner-name" class="form-control" placeholder="Summoner name"/>
		<select id="select-region" class="form-control">
			<option value="br">BR</option>
			<option value="eune">EUNE</option>
			<option value="euw">EUW</option>
			<option value="jp">JP</option>
			<option value="kr">KR</option>
			<option value="lan">LAN</option>
			<option value="las">LAS</option>
			<option value="na">NA</option>
			<option value="oce">OCE</option>
			<option value="ru">RU</option>
			<option value="tr">TR</option>
		</select>
		<button type="submit" id="btn-submit" class="btn btn-default">Go!</button>
	</form>
</div>
