
<div class="col-xs-12">
	<p class="home-text">
		Hello <img src={{myself.profileIcon}} width="32" height ="32"> {{myself.displayName}}.
		<br>
		Please select a game mode.
	</p>
	<p class="home-text">
		<button id="button-solo" type="button" class="btn btn-default home-button">Solo</button>
		<button id="button-party" btype="button" class="btn btn-default home-button">Party</button>
	</p>
</div>
