
<div class="col-xs-12 col-sm-12 col-nd-12">
	<p class="home-text">Please select a gamemode</p>
	<p class="home-text">
		<button id="button-solo" type="button" class="btn btn-default home-button">Solo</button>
		<button id="button-party" btype="button" class="btn btn-default home-button">Party</button>
	</p>
</div>
