
<li class="summoner" data-index="{{index}}">
	<img src="{{summoner.profileIcon}}" class="summoner-list-icon">
	{{summoner.displayName}}
	<br>
	<img src="/static/icons/gold-coin.png">
	<b class="score">0</b>
</li>
