
<div class="col-xs-12">
	<div class="submit-div">
		<p class="input-text-heading">
			Hello summoner!
		</p>
		<p class="input-text">
			Guess the main of a random League player based on his or her other mastered champions!
		</p>
		<p class="input-text">
			Do you feel bored while waiting for the queue to pop up? Compete with your friends and see how good you are at figuring out if someone is a
			flashy Riven + Yasuo player or one of those Teemo one trick ponies that no one wants to lane against! 
		</p>
		<form id="submit" class="form-inline">
			<input type="text" id="input-summoner-name" class="form-control" placeholder="Summoner name"/>
			<select id="select-platform" class="form-control">
				<option value="BR1">BR</option>
				<option value="EUN1">EUNE</option>
				<option value="EUW1">EUW</option>
				<option value="JP1">JP</option>
				<option value="KR">KR</option>
				<option value="LA1">LAN</option>
				<option value="LA2">LAS</option>
				<option value="NA1">NA</option>
				<option value="OC1">OCE</option>
				<option value="RU">RU</option>
				<option value="TR1">TR</option>
			</select>
			<button type="submit" id="btn-submit" class="btn btn-default">Go!</button>
		</form>
	</div>
</div>
